header {
    margin: 0;
    background-color:lightblue;
    box-shadow: 0 0 10px #00fff2 inset;
    border-radius: 0px 0px 10px 9px;
}
header h1.title {
    text-align: center;
    font-size: 35pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 0, 39);
    padding-bottom: 0;
    margin-bottom: 0;
}
header h3.desc {
    margin-top: 0;
    text-align: center;
    color: #0080BF;
}

body {
    width: 70%;
    margin: auto;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rebeccapurple;
}

a:active {
    color: #00d9ff;
}

#navigation {
    
}

p {
    font-size: 110%;
    color: black;
}

#contents {
    float: center;
}

#contents .page p{
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: #000 solid 1px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

footer {
    clear: both;
    background: lightblue;
    text-align: center;
    box-shadow: 0 0 10px #00d9ff inset;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
}